@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Epilogue", "Epilogue Placeholder", sans-serif;
    background-color: #f4f4f3;
    color: #6b7a87;
    transition: background-color 0.5s ease;
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}

