@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Akshar", sans-serif;
    transition: background-color 0.5s ease;
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}

