@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    transition: background-color 0.5s ease;
    margin: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Rammetto One", sans-serif;
  }

  a {
    text-decoration: none;
  }
}

