/* ----- HOME PAGE CSS ----- */

main{
  padding-top: 150px;
  margin-left: 20%;
  height:650px;
  margin-right: 5%;
}
main a {
  text-decoration: none;
  color: black;
}
main p{
  font-size: 20px;
}
main section{
  margin-left: 10%;
}

.blinking-name-container{
  display: inline-block;
}
/* text of name */
.blinking-name-text{
  padding: 0;
  margin: 0;
  font-size: 60px;
  color: #8c8c73;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: 
    typing 1s steps(14),
    cursor .4s step-end infinite alternate; 
}
/* blinking cursor */
@keyframes cursor {
  50% { border-color: transparent }
}
/* typing animation */
@keyframes typing {
  from { width: 0}
}

/* Responsive styles for Home */
@media screen and (max-width: 768px) {
  main{
    padding-top: 150px;
    margin-left: 0%;
    margin-right: 0%;
  }
  .blinking-name-text{
    font-size: 45px;
    margin-left: 60px;
  }
  main section{
    margin-left: 100px;
  }
  main a{
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .blinking-name-text{
    font-size: 55px;
    margin-left: 20px;
  }
  main p{
    font-size: 20px;
  }
  main section{
    margin-left: 30px;
  }
}

