/* ----- PROJECTS PAGE CSS ----- */

.project-container{
  background-color: #2c2b2b;
  height: 400px;
  display: flex;
  margin: 0% 7%;
  padding: 2%;
  transition: background-color .3s ease-out;
  border-radius: 7px;
}

.project-container:hover{
  background-color: #363636;
  transition: background-color .3s ease-in;
}

.second-container{
  height: 1900px;
  padding-top: 50px;
  justify-content: center;
  background-color: #8c8c73;
}
.second-container-title{
  text-align: center;
  font-size: 40px;
  color: white;
  margin-bottom: 40px;
}
.second-container-row{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.project-container-left{
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-container-right{
  width: 50%;
  padding: 20px;
  margin-left: 40px;
}
.project-images{
  height: 280px;
  overflow: hidden;
}
.project-container-title{
  padding-top: 30px;
  text-align: center;
  font-size: 32px;
  color: white;
}
.project-desc{
  font-size: 17px;
  color: #D9d9d9;
  height: 200px;
  font-weight: 100;
}
.project-desc ul {
  margin-left: 0px;
  padding-left: 0px;
}
.highlightedSkills{
  color:rgb(90, 177, 239)
}
.project-buttons-container{
  display: flex;
}
.project-buttons-container a, 
.project-buttons-container a:visited, 
.project-buttons-container a:hover, 
.project-buttons-container a:active {
  text-decoration: none; 
}
.project-button-demo, .project-button-github{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 15px;
  margin-right: 20px;
  background: none;
  color: #E6E6E6;
  cursor: pointer;
}
.project-button-demo{
  border-width: 3px;
  border-style: solid;
  padding: 10px;
  border-color: #E6E6E6;
  transition: border-color 0.3s, color 0.3s;
}
.project-button-demo:hover{
  border-color: rgb(90, 177, 239);
  color: rgb(90, 177, 239);
}
.project-button-github{
  border-style: none;
  transition: transform 0.2s ease;
}
.project-button-github:hover{
  transform: scale(1.1);
}
.image-github{
  height: 20px;
  margin-left: 10px;
}
.project-media {
  width: 100%;
  height: 280px; 
  object-fit: cover;
  transition: border-radius 0.3s, transform 0.3s;
  overflow: hidden;
  border-radius: 7px;
}

.skillsContainer{
  background-color: #2c2b2b;
  display: flex;
  margin-bottom: 30px;
  margin-left: 7%;
  margin-right: 7%;
  padding: 10px;
  flex-wrap: wrap;
  border-radius: 7px;
}
.button-selected, .button-unselected{
  transition: background-color 0.6s ease, color 0.6s ease, border-radius 0.6s ease;
  border: none;
  margin-right: 5px;
  border-radius: 20px;
}
.button-unselected{
  color: white;
  background-color: transparent;
  padding: 5px;
}
.button-unselected:hover{
  background-color: #8e8d8d;
  transition: background-color 0.4s ease;
}

video {
  height: 280px;
  transition: border-radius 0.3s, transform 0.3s;
  overflow: hidden;
}

/* Responsive styles for Projects */
@media screen and (max-width: 992px) {
  .second-container{
    height: 2850px;
  }
  .project-container{
    height: 600px;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .project-container-left, .project-container-right{
    width: 90%;
    box-sizing: border-box;
  }
  .project-container-right{
    margin-left: 0px;
  }
  .project-container-title{
    padding-top: 0px;
  }
  .project-buttons-container{
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .project-desc{
    height: 170px;
  }
  .project-container{
    height: 500px;
  }
  .project-desc{
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) {
  .project-desc{
    height: auto;
  }
  .project-container{
    height: auto;
    padding: 5% 0% 0% 0%;
  }
  .project-container-right{
    margin: 0px;
  }
  .skills-section-inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 25px;
  }
  .button-unselected{
    font-size: 12px;
  }
  .project-media {
    height: 220px; 
    object-fit: cover;
    transition: border-radius 0.3s, transform 0.3s;
    overflow: hidden;
  }
  .project-button-demo{
    font-size: 10px;
  }
  .project-button-github{
    font-size: 10px;
  }
}

