/* ----- RESUME PAGE CSS ----- */

.resume-container{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.animated-hr{
  border-style: solid;
  border-width: 1.5px;
  border-color: #939292;
  margin-left: 3.5%;
  margin-right: 3.5%;
  margin-bottom: 50px;
}

.education-section{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.education-classes{
  margin-left: 40px;
  width: 300px;
}
.school-outer{
  display: flex;
}
.school-inner{
  height: 380px;
  width: 300px;
  border-style: solid;
  box-shadow: 15px 15px 5px lightgrey;
  background-color: rgb(248, 248, 248);
}
.school-title{
  margin-top: 35px;
  padding-left: 30px;
  font-size: 25px;
}
.school-name{
  padding-left: 45px;
  font-size: 22px;
  color: #8C8C73;
}
.chap-img{
  margin-top: 2px;
  height: 25px;
  margin-left: 8px;
}
.school-desc{
  font-size: 18px;
  padding-left: 60px;
  color: #666666;
}
.school-line{
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  border-style: solid;
  border-color: rgb(75, 75, 75);
  border-width: 1px;
}
.study{
  font-size: 22px;
  margin-left: 30px;
}
.study-desc{
  font-size: 18px;
  margin-left: 35px;
  color: #666666;
}

.skills-section{
  margin-top: 45px;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.skills-section-inner{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 50px;
}
.skill{
  display: flex;
  font-size: 20px;
  transition: transform 0.2s ease;
}
.skill:hover{
  transform: scale(1.1);
}
.skill-image{
  height: 25px;
  margin-right: 10px;
}

.languages-section{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.extras-section{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.project-section-title{
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  color: #666666;
  margin-bottom: 30px;
}

/* Responsive styles for Resume */
@media (max-width: 900px) {
  .skills-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 625px){
  .school-inner{
    border-width: 1px;
  }
}

@media screen and (max-width: 768px) {
  .education-section{
    flex-direction: column;
    align-items: center;
    height: 740px;
  }
  .education-classes{
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .skills-section-inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 25px;
  }
}

